<section class="start-screen">
  <div class="container flex">
    <div>
    <h1>Main title lorem ipsum amet</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <button>Main link<i class="fas fa-angle-right"></i></button>
  </div>
  </div>
</section>
<section class="categories">
  <div class="container margint30">
    <div class="row">
    <div class="col-sm-3 categories-blocks" *ngFor="let item of categoriesObj | keyvalue">
    <div>
    <div class="img-holder">
      <img [src]="'assets/images/'+item.key+'.png'" alt="">
    </div>
      <p>{{item.value}}</p>
      <p>{{item.key}}</p>
    </div>
  </div>
  </div>
  </div>
</section>
<!-- Just for test  -->
<div>
  <p>test</p>
  <button (click)="addRecipe(dumyData)">Add</button>
  <p>{{items}}</p>
  <ul>
    <li class="text" *ngFor="let item of recipesList" (click)="updateRecipe(item.id,dumyData)">
      {{item.title}}
    </li>
  </ul>
</div>
